@import 'variables';

.theme-blue {
  .topbar {
    background-color: $blue_C700;
    color: $white;
    .nav-item a {
      color: $white;
    }
    .navbar-brand {
      color: $white;
    }
  }

  .leftsidebar {
    .userinfo {
      .image {
        img {
          border-color: $blue_C500;
        }
      }
      .info-container {
        .user-helper-dropdown {
          color: $white;
        }
      }
    }
  }

  .maincontent {
    header {
      background-color: $blue_C100;
    }
    main {
      background-color: white;
    }
  }
}

.theme-red {
  .topbar {
    background-color: $red_C700;
    color: $white;
  }
}
