@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin box-shadow($hor, $ver, $spread) {
  -webkit-box-shadow: $hor $ver $spread rgba(0, 0, 0, 0.3);
     -moz-box-shadow: $hor $ver $spread rgba(0, 0, 0, 0.3);
      -ms-box-shadow: $hor $ver $spread rgba(0, 0, 0, 0.3);
          box-shadow: $hor $ver $spread rgba(0, 0, 0, 0.3);
}

@mixin text-overflow($type) {
  -ms-text-overflow: $type;
   -o-text-overflow: $type;
      text-overflow: $type;
}
