// Material Design Colors
$red_C50:  #FFEBEE;
$red_C100: #FFCDD2;
$red_C200: #EF9A9A;
$red_C300: #E57373;
$red_C400: #EF5350;
$red_C500: #F44336;
$red_C600: #E53935;
$red_C700: #D32F2F;
$red_C800: #C62828;
$red_C900: #B71C1C;

$blue_C50:  #E3F2FD;
$blue_C100: #BBDEFB;
$blue_C200: #90CAF9;
$blue_C300: #64B5F6;
$blue_C400: #42A5F5;
$blue_C500: #2196F3;
$blue_C600: #1E88E5;
$blue_C700: #1976D2;
$blue_C800: #1565C0;
$blue_C900: #0D47A1;

$black: #000000;
$white: #FFFFFF;
