<div class="page-wrapper theme-blue">

  <!-- HEADER -->
  <header class="topbar">
    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <a class="navbar-brand" href="#">RESPONSIVE</a>
        </div>
        <div class="col">
          <ul class="nav justify-content-end">
            <li class="nav-item"> <a href="#"> <i class="material-icons">notifications</i> </a> </li>
            <li class="nav-item"> <a href="#"> <i class="material-icons">flag</i> </a> </li>
            <li class="nav-item"> <a href="#"> <i class="material-icons">more_vert</i> </a> </li>
          </ul>
        </div>
      </div>
    </div>
  </header>

  <!-- LEFT MENU -->
  <section class="leftsidebar">
    <aside>
      <div class="userinfo">
        conteudo menu aqui
      </div>
      <div class="menu">
        conteudo menu aqui
        abc <br/> abc <br/> abc <br/> abc <br/> abc <br/> abc <br/> abc <br/> abc <br/>
        abc <br/> abc <br/> abc <br/> abc <br/> abc <br/> abc <br/> abc <br/> abc <br/>
        abc <br/> abc <br/> abc <br/> abc <br/> abc <br/> abc <br/> abc <br/> abc <br/>
        abc <br/> abc <br/> abc <br/> abc <br/> abc <br/> abc <br/> abc <br/> abc <br/>
    </div>
      <div class="footer">
        conteudo menu aqui
      </div>
    </aside>
  </section>

  <!-- MAIN CONTENT -->
  <section class="maincontent">
    <header>
      <div class="row">
        <div class="col-6">
          <h3>Dashboard</h3>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Dashboard</li>
          </ol>
        </div>
      </div>
    </header>
    <main>
      <div>
        conteudo principal aqui <br/>
        abc <br/> abc <br/> abc <br/> abc <br/> abc <br/> abc <br/> abc <br/> abc <br/>
        abc <br/> abc <br/> abc <br/> abc <br/> abc <br/> abc <br/> abc <br/> abc <br/>
        abc <br/> abc <br/> abc <br/> abc <br/> abc <br/> abc <br/> abc <br/> abc <br/>
        abc <br/> abc <br/> abc <br/> abc <br/> abc <br/> abc <br/> abc <br/> abc <br/>
        abc <br/> abc <br/> abc <br/> abc <br/> abc <br/> abc <br/> abc <br/> abc <br/>
        abc <br/> abc <br/> abc <br/> abc <br/> abc <br/> abc <br/> abc <br/> abc <br/>
        abc <br/> abc <br/> abc <br/> abc <br/> abc <br/> abc <br/> abc <br/> abc <br/>
        abc <br/> abc <br/> abc <br/> abc <br/> abc <br/> abc <br/> abc <br/> abc <br/>
        abc <br/> abc <br/> abc <br/> abc <br/> abc <br/> abc <br/> abc <br/> abc <br/>
        abc <br/> abc <br/> abc <br/> abc <br/> abc <br/> abc <br/> abc <br/> abc <br/>
      </div>
    </main>
    <footer>
      conteudo do footer aqui
    </footer>

  </section>

</div>
