@import '../../../../partials/mixins';

.leftsidebar aside {
  @include box-shadow(1px, 0px, 5px);
  width: 300px;
  height: calc(100vh - 70px);
  overflow: hidden;
  display: inline-block;
  position: fixed;

  .userinfo {
    @include box-shadow(0px, 1px, 5px);
    padding: 15px;
    white-space: nowrap;
    position: relative;
    background: url(/assets/images/user_bg_2.jpg) no-repeat no-repeat;
    height: 170px;
    z-index: 10;

    .image {
      margin-right: 12px;
      display: inline-block;

      img {
        @include border-radius(50%);
        width: 90px;
        height: 90px;
        border-style: inset;
        border-width: 5px;
        vertical-align: bottom !important;
      }
    }

    .info-container {
      cursor: default;
      display: block;
      position: relative;
      top: 15px;

      .name {
        @include text-overflow(ellipsis);
        white-space: nowrap;
        overflow: hidden;
        font-size: 14px;
        max-width: 200px;
      }

      .email {
        @include text-overflow(ellipsis);
        white-space: nowrap;
        overflow: hidden;
        font-size: 12px;
        max-width: 200px;
      }

      .user-helper-dropdown {
        position: absolute;
        right: -3px;
        bottom: -5px;
        cursor: pointer;
      }
    }
  }

  .menu {
    overflow: auto;
    width: auto;
    height: calc(100vh - 280px);

    .list-group-item:first-child {
      border-top-left-radius: 0rem;
      border-top-right-radius: 0rem;
    }

    .list-group-item:last-child {
      border-bottom-right-radius: 0rem;
      border-bottom-left-radius: 0rem;
    }

    .scrollbar {
      float: left;
      height: 100%;
      width: 100%;
      overflow-y: overlay;
    }

    .scrollbar::-webkit-scrollbar {
      display: none;
    }

    .scrollbar:hover::-webkit-scrollbar {
      display: inline;
    }
  }

  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 5px 0px 5px 0px;
    overflow: hidden;
    height: 40px;

    .col-4 {
      padding-top: 2px;
      text-align: center;
    }
  }
}
