<section class="leftsidebar">
  <aside>
    <div class="userinfo">
        <div class="image">
            <img src="assets/images/student.png">
        </div>
        <div class="info-container">
            <div class="name">John Doe</div>
            <div class="email">john.doe@example.com</div>
            <div class="btn-group user-helper-dropdown">
              <i class="material-icons">keyboard_arrow_down</i>
              <ul class="dropdown-menu pull-right">
                <li><a href="#"><i class="material-icons">input</i>Sign Out</a></li>
              </ul>
            </div>
        </div>
      </div>
    <div class="menu">
      conteudo menu aqui
      abc <br/> abc <br/> abc <br/> abc <br/> abc <br/> abc <br/> abc <br/> abc <br/>
      abc <br/> abc <br/> abc <br/> abc <br/> abc <br/> abc <br/> abc <br/> abc <br/>
      abc <br/> abc <br/> abc <br/> abc <br/> abc <br/> abc <br/> abc <br/> abc <br/>
      abc <br/> abc <br/> abc <br/> abc <br/> abc <br/> abc <br/> abc <br/> abc <br/>
  </div>
    <div class="footer">
      conteudo menu aqui
    </div>
  </aside>
</section>
