@import '../../../../assets/partials/mixins';

.leftsidebar aside {
  width: 300px;
  overflow: hidden;
  display: inline-block;
  height: calc(100vh - 70px);
  position: fixed;
  @include box-shadow(1px, 0px, 5px);

  .userinfo {
    padding: 15px;
    white-space: nowrap;
    position: relative;
    background: url(/assets/images/user_bg_2.jpg) no-repeat no-repeat;
    height: 170px;

    .image {
      margin-right: 12px;
      display: inline-block;

      img {
        width: 90px;
        height: 90px;
        @include border-radius(50%);
        border-style: inset;
        border-width: 5px;
        vertical-align: bottom !important;
      }
    }

    .info-container {
      cursor: default;
      display: block;
      position: relative;
      top: 15px;

      .name {
        white-space: nowrap;
        @include text-overflow(ellipsis);
        overflow: hidden;
        font-size: 14px;
        max-width: 200px;
      }

      .email {
        white-space: nowrap;
        @include text-overflow(ellipsis);
        overflow: hidden;
        font-size: 12px;
        max-width: 200px;
      }

      .user-helper-dropdown {
        position: absolute;
        right: -3px;
        bottom: -5px;
        cursor: pointer;
      }
    }
  }

  .menu {
    overflow: auto;
    width: auto;
    height: calc(100vh - 280px);
  }

  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #eee;
    padding: 15px;
    overflow: hidden;
    height: 60px;
  }
}
