@import 'variables';
@import 'mixins';

.theme-blue {
  .topbar {
    background-color: $blue_C700;
    color: $white;
    .nav-item a {
      color: $white;
    }
    .navbar-brand {
      color: $white;
    }
  }

  .leftsidebar {
    .userinfo {
      .image {
        img {
          border-color: $blue_C500;
        }
      }
      .info-container {
        .user-helper-dropdown {
          color: $white;
        }
      }
    }

    .menu {
      .scrollbar {
        background-color: $grey_C100;

        .list-group-item.active {
          background-color: $blue_A400;
          border-color: $blue_A400;
      }
      }
      .scrollbar::-webkit-scrollbar-thumb {
        background-color: $amber_A400;
      }
      .scrollbar::-webkit-scrollbar-track {
        background-color: $grey_C100;
      }
    }

    .footer {
      background-color: $blue_C700;

      .col-4 {
        a {
          color: $white;
          @include transition(color 2s);
        }

        a:hover {
          color: $amber_A400;
        }
      }

      .col-4:nth-child(2) {
        border-left: 1px solid $grey_C200;
        border-right: 1px solid $grey_C200;
      }
    }
  }

  .maincontent {
    header {
      background-color: $blue_C100;

      .row {
        background: $white;

        h3 {
          color: $blue_C600 !important;
        }
      }
    }
    main {
      background-color: $white;
    }
  }
}

.theme-red {
  .topbar {
    background-color: $red_C700;
    color: $white;
  }
}
