// Material Design Colors
$red_C50:  #FFEBEE;
$red_C100: #FFCDD2;
$red_C200: #EF9A9A;
$red_C300: #E57373;
$red_C400: #EF5350;
$red_C500: #F44336;
$red_C600: #E53935;
$red_C700: #D32F2F;
$red_C800: #C62828;
$red_C900: #B71C1C;

$blue_C50:  #E3F2FD;
$blue_C100: #BBDEFB;
$blue_C200: #90CAF9;
$blue_C300: #64B5F6;
$blue_C400: #42A5F5;
$blue_C500: #2196F3;
$blue_C600: #1E88E5;
$blue_C700: #1976D2;
$blue_C800: #1565C0;
$blue_C900: #0D47A1;

$grey_C50:  #FAFAFA;
$grey_C100: #F5F5F5;
$grey_C200: #EEEEEE;
$grey_C300: #E0E0E0;
$grey_C400: #BDBDBD;
$grey_C500: #9E9E9E;
$grey_C600: #757575;
$grey_C700: #616161;
$grey_C800: #424242;
$grey_C900: #212121;

$amber_C50:  #FFF8E1;
$amber_C100: #FFECB3;
$amber_C200: #FFE082;
$amber_C300: #FFD54F;
$amber_C400: #FFCA28;
$amber_C500: #FFC107;
$amber_C600: #FFB300;
$amber_C700: #FFA000;
$amber_C800: #FF8F00;
$amber_C900: #FF6F00;
$amber_A100: #FFE57F;
$amber_A200: #FFD740;
$amber_A400: #FFC400;
$amber_A700: #FFAB00;

$black: #000000;
$white: #FFFFFF;
